<div class="main-container">
  <h2>Snack Vending Machine</h2>
  <div class="inputs-container">
    <span> Please enter any product number</span>
    <div>
      <input (change)="onSelectProduct()" [(ngModel)]="selectedProductNumber" class="number-input" type="number">
      <div>Selected Product Status:</div>
      <div *ngIf="selectedProductNumber">Available: {{controlService?.selectedProduct?.quantity > 0 ? 'Yes' : 'Nn'}},
        {{controlService?.selectedProduct?.price ? controlService?.selectedProduct?.price + ' $' : '---'}} </div>
      <hr>
      <span> Please add money </span>
      <input [(ngModel)]="insertedMoney" class="money-input" type="number">
      <button (click)="onInsertMoney()" class="enter-btn">Insert Money</button>
      <hr>
      <span>Added money</span>
      <input disabled [(ngModel)]="controlService.totalAddedMoney" class="added-money-input" type="number">
      <button (click)="buyProduct()" class="buy-btn">Buy</button>
      <span>Remaining Money</span>
      <input [(ngModel)]="controlService.remainingMoney" disabled readonly class="added-money-input" type="number">
      <button (click)="onClear()">Clear</button>
    </div>
  </div>
</div>
