.main-container {
  text-align: center;
  padding: 15px;
}

.number-input,
.added-money-input,
.money-input {
  height: 25px;
  margin: 12px 0;
  width: 96%;
}

.enter-btn, .buy-btn {
  height: 25px;
  margin: 0 0 12px 0;
  width: 100%;
  border-radius: 11px;
  background-color: #a9a9a96b;
}

.inputs-container {
  font-size: 13px;
}
