<div>
  <div class="main-container">
    <div class="products-container">
      <app-products-grid [productsList]="productsList"></app-products-grid>
    </div>
  <div class="control-container">
    <app-control-panel></app-control-panel>
  </div>
  </div>
</div>
