.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
}

.product-img {
  width: 60px;
  height: 60px;
  margin: auto;
}

.product-card {
  display: grid;
  grid-template-rows: 5fr 0.5fr 0.5fr;
  align-items: center;
  text-align: center;
  border: 5px solid rgba(88, 88, 88, 0.8);
  cursor: pointer;
  height: 108px;
}
span{
  font-size: 10px;
}

.empty{
  background-color: #100e0e;
}
