<div class="grid-container">
  <div [ngClass]="{'empty': product.quantity == 0}"
       (click)="onSelectProduct(i)" *ngFor="let product of productsList; let i = index" class="product-card">
    <img *ngIf="product.quantity > 0" class="product-img" [src]="product.img">
    {{product.id}}
    <span>{{product.price | currency : '$'}} /q={{product.quantity}}</span>
  </div>
</div>
